<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
</head>
<body>

    <p>Ola {{ user.username }}</p>
    
    <a href="{% url 'logout' %}">Sair</a>

    <ul>
        {% for person in persons %}

            <li>
                <a href="{% url 'person_update' person.id %}">{{ person.first_name }} {{ person.last_name }}</a>
                <a href="{% url 'person_delete' person.id %}">| Deletar</a>
            </li>

        {% endfor %}
    </ul>

    <br>
    <a href="{% url 'person_new' %}">Novo Cliente</a>
</body>
</html>