<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
</head>
<body>
    <h1>Tem certeza que deseja deletar o registro abaixo?<br>{{ person.first_name }} {{ person.last_name }}</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
    <a href="{% url 'person_list' %}"><button>Voltar</button></a>



</body>
</html>